*{
    margin:0;
    padding:0;
	text-decoration:none;
}

#banner{
    background: linear-gradient(rgba(0,0,0.2,0.2),#250029), url(../images/banner.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;

.logo{
    width: 140px;
	position: absolute;
    top:4%;
	left:5%;
    
}

.banner-text{
	text-align:center;
	color:white;
	padding-top:180px;
}


.banner-text h1 {
	font-size:130px;
	font-family:Kaushan Script;
	
}

.banner-text p {
	font-size:20px;
	font-style:italic;
	
}



a:visited{
	color:white;
}
a{
	color:white;
}

.banner-btn{
	margin:160px auto 0 ;	
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-btn a{
	display: inline-block;
	width: 160px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
}

.banner-btn a span{
    position: relative;
    z-index: 2;
}

.banner-btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all .35s;
	
}

.banner-btn a:hover{
   color:black;
}

.banner-btn a:hover:after{
    width: 100%;
}
