*{
    margin:0;
    padding:0;
	
}
.banner-btn{
	margin:50px auto 0 ; 
	
}
.banner-btn a{
	width:150px;
	text-decoratin:none;
	display:inline-block;
	margin:0 5px ; 
	border:0.5px solid  white;
	padding:10px 0;
	color:white;
	
	font-size:20px;
	font-family:Kaushan Script;
	
}
.banner-btn a span{
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:white;
	z-index: -1;
}

#banner{
    background: linear-gradient(rgba(0,0,0.2,.02),#250029), url(../images/banner.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
a:visited{
	color:white;
	text-decoration:none;
}
a{
	color:white;
	text-decoration:none;
}
.logo{
    width: 140px;
	height:140px;
    position: absolute;
    top:4%;
	left:5%;
    
}
.title{
	color:white;
	font-size:18pt;
	position: absolute;
    top:19%;
	left:6%;
    
}
.banner-text{
	text-align:center;
	color:white;
	padding-top:180px;
}

.banner-text h1 {
	font-size:130px;
	font-family:Kaushan Script;
}
.banner-text p{
	font-family:Kaushan Script;
	font-style:italic;
	font-size:30px;
}